repos:
    acquia/acquia-cli: {}
    acquia/acquibot-plugins-support: {}
    acquia/acquia-ra-composer: {}
    acquia/acquia-xml-rpc-client: {}
    acquia/cso-system-integration: {}
    acquia/ops-api-client-php: {}
    acquia/ra-datapulls: {}
    acquia/ra-rascans: {}
    acquia/ra-servertools: {}
    acquia/ra-tools: {}
    acquia/ra-up: {}
    acquia/radash: {}
    acquia/support-cci-client: {}
    acquia/support-cli: {}
    acquia/support-docs: {}
    acquia/support-strace-training: {}
    acquia/Support-Tools: {}
    acquia/supportcomm: {}
    acquia/zendesk-status-alerts: {}
    acquia/acquibot: {}
    acquia/support-dashboard: {}
    acquia/support-data-interface: {}
    acquia/support-platform-cloud-data-model: {}
    acquia/support-ticket-sla: {}
    acquia/support-zendesk-tag-updater: {}
    acquia/zendesk-suspended-agent-admin-search: {}
    acquia/zendesk-toggl-time-tracker: {}
